<article>
    <h3>{{title}}</h3>
    <p>
        {{#each words}}
            {{#if @last}}
                {{this}}...
            {{else}}
                {{this}}
            {{/if}}
        {{/each}}
    </p>
    <div class="controls">
        <a href="/articles/details/{{_id}}">Read more</a>
    </div>
</article>